.link{  
    color: #FFF;
    font-weight: 500;
    text-decoration: none;

    margin-right: 1.5rem;
}

.link:hover{
    text-shadow: 1px 1px 4px #FFF;
}

/* Select the first of type that is not inside a div */
.link:first-of-type:not(div > a){
    margin-right: 3rem;
}

.link:last-of-type{
    margin-right: 0
}


@media (max-width: 840px) {
    .link{
        font-size: 14px;
        margin-right: 1rem
    }

    .link:first-of-type:not(div > a){
        margin-right: 1.5rem;
    }
}