.messagesContainer {
    display: flex;
    flex-direction: column;
    flex: 1;

    color: var(--primary-color);

    padding: 24px;

    overflow-y: auto;
}

.messagesContainer > header {
    display: flex;
    align-items: center;

    gap: 12px;

    margin-bottom: 32px;
}

.messagesContainer > header > button {
    background-color: transparent;
    border: none;
}

.messagesContainer > header > button > svg{
    width: 20px;
    height: 20px;
}

.messagesContainer > header > h1 {
    font-size: 24px;
    font-weight: 400;
}

.openMyChatsSidebarButton {
    color: var(--primary-color);
    display: none;
}

.deleteRoomButton {
    color: var(--warning);
}

.message{
    display: flex;
    flex-direction: column;

    color: #FFF;
    background-color: var(--primary-darker);

    width: 50%;

    padding: 8px;

    margin-bottom: 16px;

    border-radius: 4px    
}

.message:nth-child(odd):not(.messageSender){
    color: var(--primary-darker);
    background-color: transparent;
    border: 1px solid var(--primary-darker)
}

.messageSender {
    color: var(--primary-darker);
    background-color: #8DB8D8;

    margin-left: auto;
}

.warningModal {
    position: absolute;
    top: 50%;
    right: 50%;

    transform: translate(50%, -50%);

    border-radius: 4px;
    padding: 1rem;

    width: fit-content;

    color: var(--warning);
    background: #FFF;
    box-shadow: 0 0 0px 2px var(--warning);
}

.warningModal > div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;

    margin-top: 1rem;
}

.warningModal > div > button {
    padding: 8px 12px;
    font-weight: 700;

    border-radius: 4px;
}

.warningModal > div > button:hover {
    filter: brightness(0.8);

    transition: .2s ease;
}

.warningModal > div > button:first-of-type {
    border: 1px solid var(--warning);
    color: var(--warning);
    background-color: #FFF;
}

.warningModal > div > button:last-of-type {
    border: none;
    background-color: var(--warning);
    color: #FFF;
}

@media(max-width:1024px){
    .openMyChatsSidebarButton {
        display: block;
    }
    
}