.header {
    display: flex;
    align-items: center;

    height: 100px;
    width: 100%;
    
    padding: 1.5rem;

    background-color: #1078C2;
}

.button{
    border: none;
    background-color: transparent;

    display: none;
}

.logoutButton{
    border: none;
    border-radius: 4px;

    background-color: #FFF;
    color: var(--primary-color);

    padding: 12px 16px;

    font-weight: 700;
    font-size: 1rem;
}

.nav {
    display: flex;
    align-items: center;

    width: 100%;
}

.logoImgMini{
    display: none;
}

.nav > div {
    display: flex;
    flex: 1;
    align-items: center;
}

.userLinks{
    margin-left: auto;
}

/* Try to add this stylyng to NavLink later */
.userLinks > a {
    padding: .5rem 1rem;

    border-radius: 4px;

    background-color: #FFF;
    color: var(--primary-color);
}

@media (max-width: 840px) {
    .header{
        height: 80px
    }

    .logoImg {
        display: none
    }

    .logoImgMini {
        display: inline
    }
}

@media (max-width: 620px) {
    .header{
        padding: 1rem;
    }

    .button {
        margin-right: 1.5rem;
        display: block
    }

    /* Try to add this stylyng to NavLink later */
    .nav > div > a{
        display: none        
    }
}

@media(max-width: 374px){
    .userLinks{
        display: none
    }
}